body {
    
    
}
p{
    margin-left:10px;
}
div{
    
}
.gool{
    margin-top:5px;
}
.tableborder {

    border: 0px solid white;
    margin: 5px;
}
.tabbboop {
    margin-bottom: 0px;
}
.tableRow{
    
    
    border: 1px solid black;
}
.tdcla {
   
}
.tableClass{

    width:100%;
}